GCC_TREAT_WARNINGS_AS_ERRORS = YES
WARNING_CFLAGS = -Wsign-conversion
CODE_SIGN_ENTITLEMENTS = vm/common.entitlements
CLANG_CXX_LANGUAGE_STANDARD = c++23
DEAD_CODE_STRIPPING = YES
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = vm/Info.plist
MACOSX_DEPLOYMENT_TARGET = 10.11
PRODUCT_BUNDLE_IDENTIFIER = tech.cbelkin.vm
PRODUCT_NAME = BelkinVM
